.button200 {
  width: 200px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 60px;
}

.wd200 {
  width: 200px;
}

.wd236 {
  width: 236px;
}

.button-orange {
  background: linear-gradient(180deg, #FF7F22 0%, #FF5722 100%);
}

.button-orange:hover {
  background: #FF5722;
}

.button-orange:active {
  background: #FF7F22;
}

.button-disable-filled {
  background: #4C5865;
}

.button-blue {
  border-image-source: linear-gradient(to left, #22B3E3, #7CDAF9, #22B3E3);
}

.button-blue:hover {
  background: #7CDAF9;
  box-shadow: 0px 10px 40px #1E5466;
}

.button-blue:active {
  border: 2px solid #22B3E3;
}

.button-disable-wired {
  border: 2px solid #4C5865;
}