/* App */

.logo {
  width: 78px;
  height: 48px;
  float: left;
  background: url('@/assets/pacman-logo.svg');
}
.scroll-arrow {
  width: 24px;
  height: 24px;
  margin-top: 13px;
  margin-left: 6px;
  background: url('@/assets/scroll-arrow.svg');
  background-repeat: no-repeat;
}
.robots {
  position: absolute;
  width: 366px;
  height: 320px;
  margin-left: 650px;
  margin-top: -20px;
  background: url('@/assets/robots.png');
  background-repeat: no-repeat;
}

/* CryptoWallet */

.coin {
  width: 20px;
  height: 20px;
  background: url('@/assets/coin.svg');
  background-repeat: no-repeat;
}

.checkmark {
  width: 14px;
  height: 12px;
  background: url('@/assets/checkmark.svg');
  background-repeat: no-repeat;
}

/* PartMarket */

.biohand {
  width: 101px;
  height: 67px;
  background: url('@/assets/biohand.svg');
  background-repeat: no-repeat;
}
.microchip {
  width: 80px;
  height: 80px;
  background: url('@/assets/microchip.svg');
  background-repeat: no-repeat;
}
.soul {
  width: 55.88px;
  height: 54px;
  background: url('@/assets/soul.svg');
  background-repeat: no-repeat;
}

/* Fabrication */

.sprite-biohand_active {
  width: 36px;
  height: 24px;
  background: url('@/assets/fab_parts/fab_biohand_active.svg');
}
.sprite-microchip_active {
  width: 24px;
  height: 24px;
  background: url('@/assets/fab_parts/fab_microchip_active.svg');
}
.sprite-soul_active {
  width: 32px;
  height: 32px;
  background: url('@/assets/fab_parts/fab_soul_active.svg');
}
.sprite-biohand_inactive {
  width: 36px;
  height: 24px;
  background: url('@/assets/fab_parts/fab_biohand_inactive.svg');
}
.sprite-microchip_inactive {
  width: 24px;
  height: 24px;
  background: url('@/assets/fab_parts/fab_microchip_inactive.svg');
}
.sprite-soul_inactive {
  width: 32px;
  height: 32px;
  background: url('@/assets/fab_parts/fab_soul_inactive.svg');
}
.sprite-biohand_disable {
  width: 36px;
  height: 24px;
  background: url('@/assets/fab_parts/fab_biohand_disable.svg');
}
.sprite-microchip_disable {
  width: 24px;
  height: 24px;
  background: url('@/assets/fab_parts/fab_microchip_disable.svg');
}
.sprite-soul_disable {
  width: 32px;
  height: 32px;
  background: url('@/assets/fab_parts/fab_soul_disable.svg');
}